<div class='container'>
    <mat-spinner *ngIf='isLoading; else content'>
    </mat-spinner>

    <h3 class="error-message">{{error}}</h3>

    <ng-template #content>
        <div class="content" *ngIf="!error">
            <div class="content-header">
                <img [src]="repository?.owner?.avatar_url" [alt]="repository?.full_name" />
                <div>
                    <h1 class="name">{{repository?.name}}</h1>
                    <p class="id-caption">{{repository?.id}}</p>
                </div>
            </div>
            <a *ngIf="repository?.homepage" [href]="repository?.homepage">Домашняя страница</a>
            <p><span class="caption">Created at:</span> {{repository?.created_at}}</p>
            <p><span class="caption">Updated at:</span> {{repository?.updated_at}}</p>
            <p><span class="caption">Pushed at:</span> {{repository?.pushed_at}}</p>
            <p *ngIf="repository?.language"><span class="caption">Language:</span> {{repository?.language}}</p>
            <p *ngIf="repository?.license"><span class="caption">License:</span> {{repository?.license?.name}}</p>
        </div>
    </ng-template>
</div>