.container {
    padding-top: 50px;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-areas: ". content .";

    .content {
        grid-area: content;
       
        &-header {
            img {
                margin-right: 20px;
                height: 200px;
                width: 200px;
            }
            margin-bottom: 30px;
            padding-bottom: 30px;
            display: flex;
            justify-content: flex-start;
            border-bottom: 2px solid #aaa;

            .name {
                margin: 0;
            }

            .id-caption {
                color: #aaa;
                margin: 0;
            }
        }

        a, p {
            margin: 10px 0;
        }

        .caption {
            font-weight:bold;
        }
    }

    .mat-spinner, .error-message {
        grid-area: content;
        place-self: center;
    }
}