<div class='container'>
  <div class="input">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Название репозитория" [formControl]="searchInput" />
    </mat-form-field>
    <div class="filters">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Минимум звезд" [formControl]="minStarsInput" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Минимальный размер</mat-label>
        <mat-select [formControl]="sizeInput">
          <mat-option *ngFor="let sizeOption of sizeOptions" [value]="sizeOption.value">
            {{sizeOption.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="content">
    <mat-spinner *ngIf='isLoading$ | async'>
    </mat-spinner>

    <div *ngIf="error$ | async; else content">
      <h3>{{error$ | async}}</h3>
    </div>

    <ng-template #content>
      <app-repository-card class="repository-card" *ngFor="let repo of repositories$ | async" [repository]="repo">
      </app-repository-card>
    </ng-template>

  </div>

  <mat-paginator [disabled]="isLoading$ | async" [length]="totalCount$ | async" [pageSize]="10" [hidePageSize]="true"
    aria-label="Выбрать страницу" (page)="onPageChange($event)">
  </mat-paginator>
</div>