.container {
    box-sizing: border-box;
    padding-top: 120px;
    display: grid;
    height: 100vh;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: 
    ". searchbar ."
    ". content ."
    ". pagination pagination";

    .input {
        grid-area: searchbar;

        .mat-form-field  {
            width: 100%;
        }

        .filters {
            display: flex;
            gap: 20px;
        }
    }

    .content {
        grid-area: content;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        align-content: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px 50px 0;

        .repository-card {
            flex: 1;
        }
    }

    .mat-paginator {
        grid-area: pagination;
        justify-self: end;
    }
}