<a [routerLink]="['', repository?.full_name]">
    <mat-card>
        <mat-card-title>{{repository?.name}}
        </mat-card-title>
        <mat-card-subtitle>{{repository?.id}}</mat-card-subtitle>
        <img mat-card-image [src]="repository?.owner?.avatar_url" [alt]="repository?.name">
    </mat-card>
</a>