.mat-card {
    cursor: pointer;
    user-select: none;
    text-decoration: none;

    .mat-card-title, .mat-card-subtitle {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    img {
        height: 120px;
        object-fit: cover;
    }
}